*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}

main{
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
}

main .left,main .right{
  height: 100vh;
  flex-basis: 50%;
  border-radius: 0.7rem;
  overflow: hidden;
}

main .left{
  background-color: #1e1e1e;
  position: relative;
}

.left .code,.code pre,.code pre code{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #000000;
}

main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219, 219, 255);
  padding: 0.5rem 2rem;
  color: #000000;
  font-weight: 500;
  user-select: none;
  border-radius: 0.7rem;
  cursor: pointer;
}

main .right{
  background-color: #f5f5f5;
}